@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.eot');
	src: url('../fonts/Circe-Regular.eot?iefix') format('eot'),
	url('../fonts/Circe-Regular.woff') format('woff'),
	url('../fonts/Circe-Regular.ttf') format('truetype'),
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Bold.eot');
	src: url('../fonts/Circe-Bold.eot?iefix') format('eot'),
	url('../fonts/Circe-Bold.woff') format('woff'),
	url('../fonts/Circe-Bold.ttf') format('truetype'),
	font-weight: bold;
	font-style: normal;
}
body {
	min-width: 1220px;
	font-family: "Circe", "Arial", sans-serif;
	padding: 0;
	margin: 0;
}
.wrapper {
	max-width: 1368px;
	background-color: #fbebea;
	background-image: url("../img/Header-cake.png"), url("../img/berry1.png"), url("../img/berry2.png"), url("../img/berry3.png"), url("../img/illustration.png"), url("../img/berrys.png"), url("../img/main-cake.png");
	background-position: 598px 104px, 561px 125px, 525px 308px, 359px 470px, -10px 4645px, 0px 6293px, right 6810px;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.container {
	max-width: 1220px;
	min-height: 200px; /*delete later*/
	margin: 0 auto;
	outline: 1px dotted black;
}
.main-header {
	padding-bottom: 184px;
}
.main-header .main-navigation {
	display: flex;
	justify-content: space-between;
	padding-bottom: 95px;
}
.main-navigation .index-logo {
	padding-top: 62px;
}
.main-navigation .main-navigation-list {
	list-style: none;
	font-size: 0;
	padding: 0;
	margin: 0;
	margin-top: 60px;
	max-width: 950px;
}
.main-navigation-list li {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	line-height: 32px;
	text-transform: uppercase;
	padding-left: 44px;
}
.main-navigation-list a {
	color: #2d2829;
	text-decoration: none;
}
.main-navigation-list a:hover {
	color: #f50049;
	text-decoration: none;
}
.main-navigation .phone-number {
	margin-top: 60px;
	padding-left: 249px;
	font-size: 13px;
	font-weight: bold;
	line-height: 32px;
}
.main-header h1 {
	font-size: 78px;
	line-height: 70px;
	padding-bottom: 0px;
	margin-bottom: 0;
}
.main-header .description {
	margin-top: 19px;
	font-size: 35px;
	line-height: 43px;
	padding-bottom: 25px;
}
.btn {
	border-radius: 25px;
	display: inline-block;
	color: white;
	font-size: 13px;
	line-height: 26px;
	width: 226px;
	height: 39px;
	background-color: #f50049;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 12px;
}
.main-header .btn {
	margin-bottom: 90px;
}
.main-header .advantages {
	display: flex;
	justify-content: left;
	padding-top: 30px;
}
.main-header .advantage-item {
	width: 150px;
	font-size: 14px;
	line-height: 18px;
	height: 95px;
	padding-top: 23px;
}
.main-header .advantage-item:first-child {
	padding-left: 67px;
	background: url("../img/advantage1.png") no-repeat;
	background-position: 0 8px;
}
.main-header .advantage-item:nth-child(2) {
	padding-left: 74px;
	background: url("../img/advantage2.png") no-repeat;
	background-position: 2px 8px;
	width: 180px;
}
.our-cakes {
	padding-bottom: 94px;
}
.our-cakes h2 {
	font-size: 40px;
	line-height: 66px;
	margin-top: 0;
	margin-bottom: 52px;
}
.our-cakes .cakes-part1,
.our-cakes .cakes-part2 {
	display: flex;
	justify-content: space-between;
}
.our-cakes .cakes-part1 {
	padding-bottom: 44px;
}
.cakes-part1 a {
	color: black;
	text-decoration: none;
}
.cakes-part1 .cake-item-first {
	background: url("../img/classic-cakes.png") no-repeat;
	width: 604px;
	height: 572px;
	outline: 1px dotted black;
	padding: 33px 45px 45px 45px;
	position: relative;
}
.cake-item-first .cake-name {
	margin-top: 0;
	margin-bottom: 2px;
	font-size: 24px;
}
.cake-item-first .cake-number {
	font-size: 18px;
	color: #828080;
}
.cake-item-first .cake-description {
	font-size: 20px;
	position: absolute;
	bottom: 33px;
	right: 70px;
}
.cake-item-first .cake-description::after {
	content: "";
	display: inline-block;
	margin-left: 18px;
	background: url("../img/arrow.png");
	width: 17px;
	height: 12px;
}
.cakes-part1-subpart {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.cakes-part1-subpart .cake-item {
	width: 391px;
	height: 228px;
	outline: 1px dotted black;
}
.cakes-part1-subpart .cake-item::after {
	content: "";
	display: inline-block;
	margin-left: 18px;
	background: url("../img/arrow.png");
	width: 17px;
	height: 12px;
	bottom: 36px;
	right: 67px;
	position: absolute;
}
.cakes-part1-subpart .cake-item-1-1 {
	background: url("../img/mousse-cakes.png") no-repeat;
	position: relative;
	padding: 29px 45px 45px 49px;
	outline: 1px dotted black;
}
.cakes-part1-subpart .cake-item-1-2 {
	background: url("../img/wedding-cakes.png") no-repeat;
	height: 232px;
	position: relative;
	padding: 29px 45px 45px 49px;
	outline: 1px dotted black;
}
.cake-item-1-1 .cake-name {
	margin-top: 0;
	margin-bottom: 2px;
	font-size: 24px;
}
.cake-item-1-2 .cake-name {
	margin-top: 5px;
	margin-bottom: -1px;
	font-size: 24px;
}
.cake-item-1-1 .cake-number,
.cake-item-1-2 .cake-number {
	font-size: 18px;
	color: #828080;
}
.cakes-part2 a {
	color: black;
	text-decoration: none;
}
.cakes-part2-subpart {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.cakes-part2-subpart .cake-item {
	width: 391px;
	height: 228px;
	outline: 1px dotted black;
}
.cakes-part2-subpart .cake-item::after {
	content: "";
	display: inline-block;
	margin-left: 18px;
	background: url("../img/arrow.png");
	width: 17px;
	height: 12px;
	bottom: 36px;
	right: 67px;
	position: absolute;
}
.cakes-part2-subpart .cake-item-2-1 {
	background: url("../img/man-cakes.png") no-repeat;
	position: relative;
	padding: 33px 45px 45px 45px;
	outline: 1px dotted black;
}
.cakes-part2-subpart .cake-item-2-2 {
	background: url("../img/woman-cakes.png") no-repeat;
	position: relative;
	height: 225px;
	padding: 29px 45px 45px 45px;
	outline: 1px dotted black;
}
.cakes-part2-subpart .cake-item-2-2::after {
	bottom: 35px;
	right: 66px;
}
.cake-item-2-1 .cake-name {
	margin-top: 0;
	margin-bottom: 0px;
	font-size: 24px;
}
.cake-item-2-2 .cake-name {
	margin-top: 0;
	margin-bottom: 0px;
	font-size: 24px;
}
.cake-item-2-1 .cake-number,
.cake-item-2-2 .cake-number {
	font-size: 18px;
	color: #828080;
}
.cakes-part2 .cake-item-last {
	background: url("../img/child-cakes.png") no-repeat;
	width: 604px;
	height: 572px;
	outline: 1px dotted black;
	padding: 33px 45px 45px 45px;
	position: relative;
}
.cake-item-last .cake-name {
	margin-top: 0;
	margin-bottom: 2px;
	font-size: 24px;
}
.cake-item-last .cake-number {
	font-size: 18px;
	color: #828080;
}
.cake-item-last .cake-description {
	font-size: 20px;
	position: absolute;
}
.cake-item-last::after {
	position: absolute;
	content: "";
	display: inline-block;
	margin-left: 18px;
	background: url("../img/arrow.png");
	width: 17px;
	height: 12px;
	bottom: 36px;
	right: 70px;
}
.individual-order .descriptions {
	margin: 0 auto;
	text-align: center;
	width: 674px;
	margin-bottom: 52px;
	outline: 1px dotted black;
}
.individual-order h2 {
	font-size: 40px;
	line-height: 66px;
	margin-top: 0;
	margin-bottom: 0px;
}
.individual-order .description {
	font-size: 30px;
}
.individual-order .individual-order-step1 {
	display: flex;
	justify-content: space-between;
	max-width: 1050px;
	min-height: 424px;
	padding: 50px 85px 95px 85px;
	background: #ffffff;
}
.individual-order-step1 .enumeration {
	font-size: 58px;
	color: #f50049;
	width: 114px;
	outline: 1px dotted black;
}
.enumeration .step1-number {
	font-size: 58px;
	color: #f50049;
}
.enumeration .step1-number-description {
	font-size: 27px;
	color: #f50049;
	margin-top: 3px;
	margin-left: -2px;
}
.individual-order-step1 .step1-slider {
	display: flex;
	width: 900px;
	position: relative;
}
.step1-slider .slider-description {
	width: 286px;
	margin-left: 42px;
	margin-top: 67px;
	outline: 1px dotted black;
}
.step1-slider .step1-image {
	margin-top: 38px;
	margin-left: 61px;
	width: 343px;
	height: 389px;
}
.step1-slider .step1-cake-count {
	position: absolute;
	bottom: -6px;
	right: 42px;
}
.slider-description .step1-cake-name {
	font-size: 18px;
	line-height: 55px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.slider-description .step1-cake-description {
	margin-top: -13px;
	font-size: 18px;
	line-height: 24px;
}
.slider-description .step1-cake-price {
	font-size: 22px;
	font-weight: bold;
}
.slider-description .btn {
	width: 180px;
	margin-top: 50px;
	margin-left: 3px;
}
.individual-order .individual-order-step2 {
	display: flex;
	justify-content: space-between;
	max-width: 1050px;
	height: 424px;
	padding: 50px 85px 95px 85px;
	background: #ffffff;
	margin-top: 37px;
}
.individual-order-step2 .enumeration {
	padding-top: 4px;
	font-size: 58px;
	color: #f50049;
	width: 105px;
	outline: 1px dotted black;
}
.enumeration .step2-number {
	font-size: 58px;
	color: #f50049;
}
.enumeration .step2-number-description {
	font-size: 27px;
	color: #f50049;
	margin-top: 1px;
	margin-left: -4px;
}
.individual-order-step2 .individual-order-step2-dimensions {
	display: flex;
	/*justify-content: left;*/
	width: 944px;
	outline: 1px dotted black;
}
.individual-order-step2-dimensions a {
	display: block;
	height: 100%;
	outline: 1px dotted black;
}
.individual-order-step2-dimensions a:nth-child(1) {
	width: 127px;
}
.individual-order-step2-dimensions a:nth-child(1) .circle {
	background: url("../img/circle-1.png") no-repeat;
	width: 110px;
	height: 110px;
	margin-top: 180px;
	position: relative;
	text-align: center;
}
.individual-order-step2-dimensions a:nth-child(1) .circle:hover {
	border-radius: 50%;
	background: rgb(255, 255, 255) url("../img/circle-1.png") no-repeat 12px 12px;
	box-shadow: 0px 6px 15.52px 0.48px rgba(103, 12, 40, 0.14);
	position: relative;
	width: 133px;
	height: 133px;
	margin-top: 157px;
	margin-left: 5px;
	left: -17px;
	top: 11px;
	z-index: 3;
}
.individual-order-step2-dimensions a:nth-child(1) .size {
	display: inline-block;
	font-size: 16px;
	padding-top: 48px;
	padding-right: 6px;
}
.individual-order-step2-dimensions a:nth-child(1) .size-value {
	display: inline-block;
	font-size: 16px;
	padding-top: 17px;
	padding-right: 6px;
	margin-bottom: 12px;
}
.individual-order-step2-dimensions a:nth-child(1) .size-description {
	display: inline-block;
	font-size: 16px;
	margin-top: 0;
	margin-left: 2px;
}
.individual-order-step2-dimensions a:nth-child(2) {
	margin-left: 51px;
	width: 153px;
}
.individual-order-step2-dimensions a:nth-child(2) .circle {
	background: url("../img/circle-2.png") no-repeat;
	width: 154px;
	height: 154px;
	margin-top: 133px;
	position: relative;
	text-align: center;
	z-index: 2;
}
.individual-order-step2-dimensions a:nth-child(2) .circle:hover {
	border-radius: 50%;
	background: rgb(255, 255, 255) url("../img/circle-2.png") no-repeat 17px 17px;
	box-shadow: 0px 6px 15.52px 0.48px rgba(103, 12, 40, 0.14);
	position: relative;
	width: 187px;
	height: 187px;
	margin-top: 100px;
	left: -17px;
	top: 16px;
	z-index: 3;
}
.individual-order-step2-dimensions a:nth-child(2) .size {
	display: inline-block;
	font-size: 16px;
	padding-top: 66px;
	padding-right: 6px;
}
.individual-order-step2-dimensions a:nth-child(2) .size-value {
	display: inline-block;
	font-size: 16px;
	padding-top: 20px;
	padding-left: 26px;
	margin-bottom: 12px;
}
.individual-order-step2-dimensions a:nth-child(2) .size-description {
	display: inline-block;
	font-size: 16px;
	margin-top: 0;
	margin-left: 24px;
}
.individual-order-step2-dimensions a:nth-child(3) {
	margin-left: 66px;
	width: 172px;
}
.individual-order-step2-dimensions a:nth-child(3) .circle {
	background: url("../img/circle-3.png") no-repeat;
	width: 173px;
	height: 174px;
	margin-top: 116px;
	margin-left: -1px;
	position: relative;
	text-align: center;
}
.individual-order-step2-dimensions a:nth-child(3) .circle:hover {
	border-radius: 50%;
	background: rgb(255, 255, 255) url("../img/circle-3.png") no-repeat 17px 16px;
	box-shadow: 0px 6px 15.52px 0.48px rgba(103, 12, 40, 0.14);
	position: relative;
	width: 206px;
	height: 206px;
	margin-top: 84px;
	left: -17px;
	top: 16px;
	z-index: 3;
}
.individual-order-step2-dimensions a:nth-child(3) .size {
	display: inline-block;
	font-size: 16px;
	padding-top: 80px;
	padding-right: 3px;
}
.individual-order-step2-dimensions a:nth-child(3) .size-value {
	display: inline-block;
	font-size: 16px;
	padding-top: 17px;
	padding-right: 6px;
	margin-bottom: 12px;
}
.individual-order-step2-dimensions a:nth-child(3) .size-description {
	display: inline-block;
	font-size: 16px;
	margin-top: 0;
	margin-left: -2px;
}
.individual-order-step2-dimensions a:nth-child(4) {
	margin-left: 72px;
	width: 200px;
}
.individual-order-step2-dimensions a:nth-child(4) .circle {
	background: url("../img/circle-4.png") no-repeat;
	width: 200px;
	height: 202px;
	margin-top: 87px;
	position: relative;
	text-align: center;
}
.individual-order-step2-dimensions a:nth-child(4) .circle:hover {
	border-radius: 50%;
	background: rgb(255, 255, 255) url("../img/circle-4.png") no-repeat 17px 16px;
	box-shadow: 0px 6px 15.52px 0.48px rgba(103, 12, 40, 0.14);
	position: relative;
	width: 234px;
	height: 234px;
	margin-top: 55px;
	left: -17px;
	top: 16px;
	z-index: 3;
}
.individual-order-step2-dimensions a:nth-child(4) .size {
	display: inline-block;
	font-size: 16px;
	padding-top: 95px;
	padding-right: 4px;
}
.individual-order-step2-dimensions a:nth-child(4) .size-value {
	display: inline-block;
	font-size: 16px;
	margin-left: 4px;
	padding-top: 17px;
	margin-bottom: 12px;
}
.individual-order-step2-dimensions a:nth-child(4) .size-description {
	display: inline-block;
	font-size: 16px;
	margin-top: 0;
	margin-left: 3px;
}
.individual-order-step2-dimensions .size,
.individual-order-step2-dimensions .size-value,
.individual-order-step2-dimensions .size-description {
	color: black;
}
.individual-order .individual-order-step3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1050px;
	min-height: 605px;
	padding: 50px 85px 95px 85px;
	background: #ffffff url("../img/pieceofcake.png") 17px 198px no-repeat;
	margin-top: 37px;
}
.enumeration .step3-number {
	font-size: 58px;
	color: #f50049;
}
.enumeration .step3-number-description {
	font-size: 27px;
	color: #f50049;
	margin-top: 3px;
	margin-left: -2px;
}
.cakes-decorations {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	width: 687px;
	height: 430px;
	margin-left: 78px;
	margin-right: 80px;
	outline: 1px dotted red;
}
.cakes-decorations .cakes-decoration-item {
	padding-top: 330px;
	outline: 1px dotted black;
	width: 322px;
	height: 100px;
	text-align: center;
}
.cakes-decorations .cakes-decoration-item:nth-child(1) {
	background: url("../img/berry-cakes.png") no-repeat;
}
.cakes-decorations .cakes-decoration-item:nth-child(2) {
	background: url("../img/paste-cakes.png") no-repeat;
}
.cakes-decorations .decoration-name {
	font-size: 20px;
	padding-bottom: -10px;
}
.cakes-decorations .decoration-price {
	line-height: 30px;
	font-size: 22px;
	font-weight: bold;
}
.cakes-decoration .step3-decoration-count {
	display: inline;
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.individual-order-step3 .form-wrapper {
	width: 1050px;
	outline: 1px dotted red;
}
.individual-order-step3 .form-wrapper h3 {
	font-size: 27px;

}
.comments {
	min-width: 904px;
	margin-top: 97px;
	height: 340px;
	padding-bottom: 170px;
}
.comments h2 {
	text-align: center;
	font-size: 40px;
	line-height: 66px;
	margin-top: 0;
	margin-bottom: 46px;
}
.comments .comments-slider {
	width: 904px;
	outline: 1px dotted red;
	margin: 0 auto;
	position: relative;
}
.comments-slider .user-comment {
	display: flex;
	justify-content: space-around;
	padding-left: 111px;
	padding-right: 119px;
	min-height: 225px;
}
.user-comment .avatar {
	width: 209px;
	height: 209px;
}
.user-comment-item .user-name {
	font-size: 27px;
	margin-top: -4px;
	margin-bottom: -17px;
}
.user-comment-item .user-description {
	font-size: 20px;
	margin-bottom: 19px;
}
.user-comment-item .user-text {
	font-size: 18px;
	line-height: 25px;
}
.user-text .todeploy {
	padding-left: 9px;
}
.user-text .todeploy a {
	color: #f50049;
	font-size: 16px;
}
.user-comment-item .user-count {
	position: absolute;
	right: 75px;
	bottom: 1px;
	color: #f50049;
	font-size: 16px;
}
.aboutus {
	min-height: 510px;
	position: relative;
}
.aboutus h2 {
	font-size: 40px;
	line-height: 33px;
}
.aboutus .description {
	margin-top: -14px;
	font-size: 35px;
}
.aboutus .confectioner {
	margin-top: -28px;
	font-size: 20px;
	font-weight: bold;
}
.aboutus .confectioner-description {
	font-size: 18px;
	line-height: 24px;
	margin-top: -13px;
}
.aboutus .principle {
	font-size: 20px;
	line-height: 27px;
	margin-top: -2px;

}
.aboutus .principle-description {
	font-size: 18px;
	line-height: 24px;
	margin-top: -17px;
	padding-bottom: 3px;
}
.aboutus .social {
	width: 146px;
	height: 37px;
	margin-right: auto;
	outline: 1px dotted red;
}
.social .social-btn {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	width: 37px;
	height: 37px;
	margin-right: 13px;
	background-color: #ffffff;
	outline: 1px dotted red;
}
.social .social-btn:hover {
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 7.04px 0.96px rgba(255, 0, 67, 0.2);
	width: 37px;
	height: 37px;
}
.social .social-btn:last-child {
	margin-right: 0px;
}
.social .social-btn-inst {
	background: url("../img/aboutus-inst.png") no-repeat;
}
.social .social-btn-vk {
	background: url("../img/aboutus-vk.png") no-repeat;
}
.social .social-btn-tw {
	background: url("../img/aboutus-tw.png") no-repeat;
}
.aboutus .confectioner-avatar {
	position: absolute;
	top: -31px;
	right: 72px;
}
.aboutus .confectioner-blockquote {
	width: 674px;
	min-height: 400px;
	outline: 1px dotted red;
	margin: 186px auto 0;
}
.confectioner-blockquote .commas {
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}
.confectioner-blockquote .blockquote {
	text-align: center;
	font-size: 25px;
	line-height: 38px;
	font-weight: bold;
	padding-bottom: 17px;
}
.confectioner-blockquote .signature {
	display: block;
	margin: 0 auto;
}
.our-advantage {
	min-height: 780px;
	max-width: 904px;
	outline: 1px dotted red;
	text-align: center;
}
.our-advantage h2 {
	font-size: 40px;
	line-height: 33px;
	padding-top: 12px;
	margin-bottom: 19px;
}
.our-advantage .description {
	margin-top: 28px;
	font-size: 35px;
 }
.our-advantage .our-advantages {
	outline: 1px dotted red;
	max-width: 505px;
	margin-left: auto;
	margin-top: 131px;
	text-align: left;
	padding-right: 10px;
}
.our-advantages .advantages {
	padding-left: 81px;
	width: 425px;
	min-height: 80px;
	outline: 1px dotted red;
}
.our-advantages .advantages:nth-child(1) {
	background: url("../img/advantage3.png") no-repeat 0px 10px;
}
.advantages:nth-child(1) h3 {
	margin-bottom: -9px;
}
.advantages:nth-child(1) .description {
	line-height: 24px;
	font-size: 20px;
}
.advantages:nth-child(2) h3 {
	margin-top: 31px;
	margin-bottom: -6px;
}
.advantages:nth-child(2) .description {
	line-height: 24px;
	font-size: 20px;
}
.concern-clients {
	min-height: 440px;
	outline: 1px dotted red;
	margin-top: 54px;
}
.concern-clients h2 {
	font-size: 40px;
	line-height: 33px;
	padding-top: 12px;
	margin-bottom: 19px;
}
.concern-clients .description {
	margin-top: 20px;
	font-size: 35px;
	margin-bottom: -12px;
}
.concern-clients .lettering {
	font-size: 20px;
	line-height: 24px;
}
.how-to-order {
	background-color: #e5363c;
	background: url("../img/logo.png") no-repeat, url("../img/visit-card.png") no-repeat, url("../img/how-to-order.png");
	background-position: 461px 263px, 432px 217px, -8px 702px;
	min-height: 703px;
	margin-top: -20px;
	outline: 2px dotted black;
}
.how-to-order-steps {
	color: #ffffff;
	outline: 1px dotted blue;
	max-width: 480px;
	min-height: 300px;
	margin-left: auto;
	padding-top: 77px;
}
.how-to-order-steps h2 {
	font-size: 40px;
	line-height: 66px;
	margin-left: 19px;
}
.how-to-order-steps .step {
	position: relative;
	margin-left: 57px;
	padding-bottom: 20px;
}
.how-to-order-steps .steps-number {
	position: absolute;
	font-size: 55px;
	left: -49px;
	top: -9px;
}
.how-to-order-steps .steps-name {
	font-size: 21px;
	line-height: 27px;
	margin-top: -8px;
}
.how-to-order-steps .steps-description {
	font-size: 18px;
	line-height: 24px;
	margin-top: -24px;
}
.contacts {
	outline: 3px dotted blue;
	min-height: 200px;
	margin-top: 75px;
	padding-bottom: 336px;
}
.contacts h2 {
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: -7px;
}
.contacts .description {
	font-size: 35px;
	margin-bottom: 0;
}
.contacts .contacts-block {
	display: flex;
	justify-content: left;
	width: 1062px;
	outline: 2px dotted brown;
}
.contacts-block .contact-form {
	margin-right: 20px;
	width: 600px;
	outline: 2px dotted blue;
}
.contact-form .form-description {
	font-size: 20px;
	margin-top: 15px;
	min-height: 253px;
}
.contact-form .btn {
	font-size: 19px;
	/*text-transform: ;*/
	width: 180px;
}
.contacts-block .contact-info {
	font-size: 20px;
	padding-left: 27px;
	width: 442px;
	outline: 2px dotted blue;
}
.contact-info .info {
	margin-top: 15px;
	margin-bottom: 26px;
}
.contact-info .social-btn {
	font-size: 0;
	width: 63px;
	height: 63px;
}
.contact-info .social-btn:hover {
	width: 63px;
	height: 63px;
}
.contact-info .social-btn-inst {
	background: url("../img/inst63.png") no-repeat;
}
.contact-info .social-btn-vk {
	background: url("../img/vk63.png") no-repeat;
}
.main-footer {
	margin-top: -1px;
}
.main-footer .social-btn {
	font-size: 0;
	width: 31px;
	height: 19px;
}
.main-footer .social-btn:hover {
	width: 63px;
	height: 63px;
}
.main-footer .social-btn-inst {
	background: url("../img/inst63.png") no-repeat;
}
.main-footer .social-btn-vk {
	background: url("../img/vk63.png") no-repeat;
}